/* STRUCTURE */
* {box-sizing:border-box; margin:0; padding:0;}
    body {margin:0; padding:0;}
.wrap {width:100%; max-width:800px; margin:0 auto; padding:20px;}
.wrap p{text-align:left;}
.footer p{text-align:center;}

/* TEXT */
header {text-align:center;}

/* NAV */
nav {background-color:black;}

nav ul {padding:10px;}
nav li {display:inline; margin:10px; font-family:Helvetica, Arial, sans-serif;}

nav a:link, nav a:visited {color:white; text-decoration:none;}
nav a:hover, nav a:focus, nav a:active {color:#aaa;}


/* IMAGES */